*{
  margin:0
    padding:0 
}
.header {
  width:100%;
  height:10%;
  background-color: red;
  dispaly:flex;
}
.logo{
  width:25%;
  background-color: blue;
}
.logo a {
  width:100%;
  hight:100%;
  display:flex;
  justify-content: center;
}
.logo a img {
  width:auto;
  hight:auto; 
}
.menu {
  width:75%;
  background-color: grey;
  text-color: white;
  dispaly:flex;
}
.menu .menubar {
  width:100%;
  position: relative;
}

